{
  "extends": [
    "kentcdodds",
    "kentcdodds/prettier",
    "kentcdodds/jest"
  ],
  "rules": {
    "max-len": "off",
    "import/max-dependencies": "off",
    "semi": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ]
  }
}
